<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div>
        <a class="ng-title-icon" href="http://angular.io" target="_blank">
          <i></i>
        </a>
        <span class="title">John papa</span>
        <span></span>
        <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        <a mat-button [routerLink]="['/heroes']" routerLinkActive="router-link-active">Heroes</a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
