
@import 'mixin';

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #fff;
}





.router-link-active {
  @include primary-background-contrast-color;
}
.page-content{
  margin: 1em;
}
