<div class="page-content">
<mat-card>
    <mat-card-header>
      <mat-card-title>Heroes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="heroes">
        <li *ngFor="let hero of heroes" class="item-container">
          <button mat-button mat-suffix mat-icon-button color="accent" class="delete-button" aria-label="Delete"
            matTooltip="Delete the hero">
            <mat-icon>delete</mat-icon>
          </button>
          <div class="selectable-item">
            <div class="badge">{{hero.id}}</div>
            <div class="item-text" >
              <div class="name">{{hero.name}}</div>
              <div class="saying">{{hero.say}}</div>
            </div>
          </div>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

</div>
